@use "./personalize";
@use "./root";
@use "./headings";

/* Multi-line comment (in css) */

// Single line comment (won't be in css)

body {
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  color: var(--clr-body);
  line-height: 1.6;
}

main {
  margin-inline: auto;
  width: min(55ch, 100% - 4rem);
}

:where(article, article section) > * {
  margin-block-start: var(--flow-space, 1em);
}

em {
  font-family: var(--ff-base-italic);
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(0 0 0 / 0%),
    rgba(0 0 0 / 75%),
    rgba(0 0 0 / 0%)
  );
}

:where(img, picture, svg, video) {
  display: block;
  block-size: auto;
  max-inline-size: 100%;
  max-inline-size: min(55rem, 100%);
}
