@use "./personalize";
@use "./root";
@use "./headings";
@use "./images";

/* Multi-line comment (in css) */

// Single line comment (won't be in css)

body {
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  color: var(--clr-body);
  line-height: 1.6;
}

main {
  margin-inline: auto;
  width: min(55ch, 100% - 4rem);
}

:where(article, article section) > * {
  margin-block-start: var(--flow-space, 1em);
}

em {
  font-family: var(--ff-base-italic);
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(0 0 0 / 0%),
    rgba(0 0 0 / 75%),
    rgba(0 0 0 / 0%)
  );
}

:where(img, picture, svg, video) {
  display: block;
  block-size: auto;
  max-inline-size: 100%;
  max-inline-size: min(55rem, 100%);
}

blockquote {
  position: relative;
  margin-right: 2em;
  margin-left: 2em;
  border-left: 8px solid var(--clr-primary);
  padding: 1.2em 1.875em 1.2em 2.68em;

  &::before {
    position: absolute;
    content: "\201C";
    color: var(--clr-primary);
    left: 10px;
    top: -10px;
    font-size: 4em;
  }
}

p,
li,
blockquote {
  text-align: justify;
  text-justify: inter-word;
}

a:not([class]) {
  // Relatively sized thickness and offset.
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.25em;
}

li {
  margin-bottom: 1em;
}
